<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewDocument"
      >เพิ่มเอกสาร</b-button
    >
    <b-modal
      id="modal-form-document"
      ref="modal-form-document"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อเอกสาร"
          label-for="ชื่อเอกสาร"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            v-model="form.ชื่อเอกสาร"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="ลิ้งเอกสาร"
          label-for="ลิ้งเอกสาร"
          :invalid-feedback="invalidFeedbackLink"
          :valid-feedback="validFeedbackLink"
          :state="stateLink"
        >
          <b-form-input id="name" v-model="form.ลิ้ง" required></b-form-input>
        </b-form-group>
      </form>

      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-modal
      id="modal-form-show"
      ref="modal-form-show"
      @hidden="resetModal"
      @ok="handleOk"
      size="lg"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <div>
          <a :href="linkimg" target="_blank">
            <p>{{ linkimg }}</p>
          </a>
        </div>
      </form>
    </b-modal>
    <b-table striped hover :items="documentList" :fields="fields">
      <template v-slot:cell(_)="data">
        <b-button variant="info" @click="showDoc(data.item)"
          >ดูรายละเอียด</b-button
        >&nbsp;
        <b-button variant="warning" @click="editDoc(data.item)">แก้ไข</b-button
        >&nbsp;
        <b-button variant="danger" @click="delDoc(data)">ลบ</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มเอกสารใหม่',
      linkimg: '',
      form: {
        ลำดับ: -1,
        ชื่อเอกสาร: '',
        ลิ้ง: ''
      },

      documentList: [
        {
          ลำดับ: 1,
          ชื่อเอกสาร: 'ใบสมัครเป็นนิสิตสหกิจศึกษา',
          ลิ้ง: 'https://www.informatics.buu.ac.th/coop/docs/nisit/IN-S001.pdf'
        },
        {
          ลำดับ: 2,
          ชื่อเอกสาร: 'ใบสมัครงานสหกิจศึกษา/ฝึกงาน',
          ลิ้ง: 'http://www.mangasubthai.com/'
        },
        {
          ลำดับ: 3,
          ชื่อเอกสาร: 'แบบอนุญาตให้นิสิตไปปฏิบัติงานสหกิจศึกษา',
          ลิ้ง:
            'https://www.youtube.com/watch?v=8aRor905cCw&list=RDMMaUSfFtSmZJk&index=19'
        }
      ],
      lastId: 4,
      fields: ['ลำดับ', 'ชื่อเอกสาร', '_']
    }
  },
  methods: {
    addNewDocument () {
      this.title = 'เพิ่มเอกสารใหม่'
      this.$bvModal.show('modal-form-document')
    },
    editDoc (doc) {
      console.log('Edit')
      this.title = 'แก้ไขเอกสาร'
      this.form = { ...doc }
      this.$bvModal.show('modal-form-document')
    },
    delDoc (doc) {
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ หรือ ไม่!!!', {
          title: 'กรุณายื่นยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteDoc(doc)
          }
        })
    },
    showDoc (doc) {
      this.$bvModal.show('modal-form-show')
      this.title = 'รายละเอียดเอกสาร'
      this.linkimg = doc.ลิ้ง
      console.log(doc)
      this.form = { ...doc }
    },
    resetModal () {
      this.form = {
        ลำดับ: -1,
        ชื่อเอกสาร: '',
        ลิ้ง: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (this.stateName === false) {
        return
      }
      // Do when pass validatetion
      if (this.form.ลำดับ > 0) {
        this.updateDoc(this.form)
      } else {
        this.addDoc(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-document')
      })
    },
    addDoc (doc) {
      doc.ลำดับ = this.lastId++
      this.documentList.push(doc)
    },
    updateDoc (doc) {
      const index = this.documentList.findIndex(
        item => item.ลำดับ === doc.ลำดับ
      )
      this.documentList.splice(index, 1, doc)
    },
    deleteDoc (doc) {
      const index = this.documentList.findIndex(
        item => item.ลำดับ === doc.ลำดับ
      )
      this.documentList.splice(index, 1)
      doc.ลำดับ = this.lastId--
    }
  },
  computed: {
    stateName () {
      return this.form.ชื่อเอกสาร.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.ชื่อเอกสาร.length > 2) {
        return ''
      } else if (this.form.ชื่อเอกสาร.length > 0) {
        return 'เอกสารต้องมีขนดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'โปรดกรองข้อมูล'
      }
    },
    validFeedbackName () {
      return this.stateLink === true ? 'สำเร็จ' : ''
    },
    stateLink () {
      return this.form.ลิ้ง.length >= 5
    },
    invalidFeedbackLink () {
      if (this.form.ลิ้ง.length > 5) {
        return ''
      } else if (this.form.ลิ้ง.length > 0) {
        return 'ลิ้งต้องมีขนดอย่างน้อย 5 ตัวอักษร'
      } else {
        return 'โปรดกรองข้อมูล'
      }
    },
    validFeedbackLink () {
      return this.stateLink === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
