<template>
  <div>
    <b-table striped hover :items="documentList" :fields="fields">
      <template v-slot:cell(_)="data">
        <a :href="data.item.ลิ้ง"
          ><b-button variant="info">ดาวน์โหลด</b-button></a
        >
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      linkimg: '',
      form: {
        เอกสารที่เกี่ยวข้อง: ''
      },

      documentList: [
        {
          เอกสารที่เกี่ยวข้อง: 'ใบสมัครเป็นนิสิตสหกิจศึกษา',
          ลิ้ง: 'https://www.informatics.buu.ac.th/coop/docs/nisit/IN-S001.pdf'
        },
        {
          เอกสารที่เกี่ยวข้อง: 'ใบสมัครงานสหกิจศึกษา',
          ลิ้ง: 'http://www.informatics.buu.ac.th/coop/docs/nisit/IN-S002.pdf'
        },
        {
          เอกสารที่เกี่ยวข้อง: 'แบบอนุญาตให้นิสิตไปปฏิบัติงานสหกิจศึกษา',
          ลิ้ง: 'http://www.informatics.buu.ac.th/coop/docs/nisit/IN-S003.pdf'
        }
      ],
      lastId: 4,
      fields: ['เอกสารที่เกี่ยวข้อง', '_']
    }
  },
  methods: {
    showDoc () {}
  }
}
</script>
